{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "newline-before-return": true,
  "jsxSingleQuote": false,
  "requirePragma": false,
  "insertPragma": false,
  "arrowParens": "always",
  "endOfLine": "auto"
}
